* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font: 16px/1.2 sans-serif;
}

button {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
  color: inherit;
  text-align: inherit;
  outline: none;
  cursor: pointer;
}